/*---------- GLOBAL STYLES ----------*/

@font-face {
    font-family: 'NewakeDemo';
    src: url('../font/newake-font-demo-webfont.woff2') format('woff2'),
         url('../font/newake-font-demo-webfont.woff') format('woff'),
         url('../font/newake-font-demo-ttf.ttf') format('truetype'),
         url('../font/newake-font-demo-otf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --peri: #6767ad;
    --lavender: #adb3d5;
    --lilac: #d8d6eb;
    --cream: #f1f2ed;
    --yellow: #ddf760;
    --black: #121212;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream); 
    font-size: 100%;
}

*:focus {
    outline: 3px solid var(--black);
    border-radius: 5px;
}

section {
    width: min(1400px, 95%);
    margin-inline: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    &-column {
        flex-direction: column;
    }
}

.centred {
    text-align: center;
    width: 100%;
}

.right-align {
    align-self: flex-end;
}

.profile-pic {
    width: min(350px, 85%);
    
    img {
        aspect-ratio: 1 / 1;
    }
}

.about-me {
    justify-content: space-between;
    gap: 1.25rem;
    align-items: flex-start;
    width: min(65ch, 85%);
}

.social-links {
    margin-block: 1rem 
}

.social-links > * {
    padding: 0.75em;
}

.fa-4x {
    color: var(--cream);
}

.fa-lg {
    margin-right: 0.65em;
}

.dev-icons {
    gap: 1rem;

    & > * {
        margin: min(2vw, 2rem);
    }
}

/*---------- TYPOGRAPHY STYLES ----------*/

.text {
    &-dark {
        color: var(--black);
    }
    &-light {
        color: var(--cream);
    }
    &-peri {
        color: var(--peri);
        transition: all 0.2s;
        &:hover, &:focus {
            color: var(--black);
        }
    }
    &-lilac {
        color: var(--lilac);
    }
    &-lav {
        color: var(--lavender);
        transition: all 0.2s;
        &:hover, &:focus {
            color: var(--peri);
        }
    }
}

.underline {
    text-decoration: underline;
    text-underline-offset: 0.05em;

    &-peri {
        text-decoration-color: var(--peri);
    }
    &-yellow {
        text-decoration-color: var(--yellow);
    }
    
}

h1, h2, h3 {
    font-family: 'NewakeDemo', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    line-height: 5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-block: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

/* ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    list-style: none;
    text-align: center;
    display: inline;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--cream);
}

li a {
    text-decoration: underline;
    text-decoration-color: #ddf760;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
    margin-bottom: 20px;
    color: #121212;
    padding: 0 0.2rem;
    margin: 1.3rem;

}

li a:hover, li a:focus {
    background-color: #ddf760;
    border-radius: 4px;
    text-decoration: none;
} */
p {
    line-height: 1.5rem;
}

p, a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    max-width: 65ch;
}

a {
    text-decoration: none;
    margin-block: 1em;
    cursor: pointer;

    &:hover, &:focus {
        text-decoration: underline var(--yellow);
        color: var(--cream);
    }
}


/*---------- NAVBAR STYLING ----------*/
/*---------- NAVBAR MEDIA QUERY ----------*/
// @media only screen and (max-width: 670px) {
//     .hamburger-menu {
//         display: flex;
//     }
//     .nav-links {
//         display: none;
//         width: 100%;
//     }
//     .navbar {
//         flex-direction: column;
//         align-items: flex-start;
//     }
//     .nav-links ul {
//         width: 100%;
//         flex-direction: column;
//         background-color: #ADB3D5;
//         z-index: 1;
//     }
//     .nav-links li {
//         text-align: center;
//         padding: 0.7rem 1rem;
//     }
//     .nav-links.active {
//         display: flex;
//     }
// }
/*---------- CARDS STYLING ----------*/

.card-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card {
    width: min(280px, 90%);
    background-color: var(--lilac);
    border: 5px solid var(--lavender);
    border-radius: 20px;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 5px 5px 15px rgba(38, 12, 57, 0.2);
    margin: 1.5rem;

    img {
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
    }
    
    &-text {
        margin: 0.8rem;

        > * {
            padding-top: 8px;
        }
        &-heading {
            font-family: 'NewakeDemo', sans-serif;
            letter-spacing: 0.05em;
            font-size: 1.3rem;
        }
        &-subhead {
            opacity: 0.6;
            font-size: 0.8rem;
        }
        &-p {
            line-height: 1.5em;
            font-size: 0.9rem;
            width: 95%;
            margin: 0 auto;
        }
    }
    &-icons {
        margin: 0.8rem;
        padding: 10px 0;

        a {
            color: var(--peri);
            margin-inline: 20px;

            &:hover, &:focus {
                color: var(--yellow);
                padding: 2px;
                filter: drop-shadow(2px 2px 3px rgba(38, 12, 57, 0.7));
            }
        }
    }
    &:hover, &:focus {
        transform: scale(1.03);
    }
}


@media only screen and (max-width:670px) {
    .card {
        margin: 1.5rem 0.5rem;
    }
}
@media only screen and (max-width:670px) {
    .card {
        margin: 1.5rem 0.5rem;
    }
}
 
.portfolio-logo {
    color:var(--peri);
    opacity: 0.5;
    margin-inline: 0.5rem;
}

/*---------- DIVIDER STYLING ----------*/
.divider {
    width: 100%;
    margin-block: -8%;
    z-index: 0;

    &-bottom {
        transform: rotate(180deg);
        z-index: 0;
    }
}

.peri-bg {
    position: relative;
    width: 100%;
    background-color: var(--peri);
    z-index: 10;
}

.top {
    position: relative;
    z-index: 20;
}

/*---------- CONTACT FORM STYLING ----------*/

.contact {
    gap: 3rem;
    padding: 2.5rem;
}

label {
    display: block;
    color: var(--cream);
}

input, textarea {
    background-color: var(--cream);
    border: 3px solid var(--lilac);
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 15px rgba(38, 12, 57, 0.2);
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s;

    &:hover {
        border-color: var(--lavender);
    }
    &:focus {
        border-color: var(--yellow);
    }
}

input {
    min-width: 100%;
    min-height: 2rem;
}

textarea {
    width: 300px;
    min-height: 6rem;
}

button {
    font-family: "NewakeDemo", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.25em 0.5em;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(38, 12, 57, 0.2);
    color: var(--black);
    background-color: var(--cream);
    border: 3px solid var(--lilac);
    border-radius: 5px;
    transition: all 0.2s;

    &:hover, &:focus {
        background-color: var(--lilac);
        border-color: var(--lavender);
    }
    &:active {
        transform: translate(2px, 2px);
    }
}

/*---------- FOOTER STYLING ----------*/

footer {
    position: relative;
    padding-block: 1rem;
}

